@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monocraft';
  src: url('../../public/fonts/Monocraft.ttf');
}

:root {
  --foreground-hex: #ededed;
  --background-main-hex: #252322;
  --background-footer-hex: #2f2c2b;
}

body {
  color: var(--foreground-hex);
}

main {
  background-color: var(--background-main-hex);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

